<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpb.appstore">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationGallery">
        <activity
            android:name=".STmd3Info"
            android:exported="false"
            android:theme="@style/Theme.STmd3" />
        <activity
            android:name=".oss.license.OSSLicense"
            android:exported="false"
            android:label="@string/title_activity_osslicense"
            android:theme="@style/Theme.ApplicationGallery" />
        <activity
            android:name=".NewUpdaterActivity"
            android:exported="false"
            android:label="@string/title_activity_new_updater"
            android:theme="@style/Theme.ApplicationGallery.NoActionBar" />
        <activity
            android:name=".alldev"
            android:exported="true" />
        <activity android:name=".UpdaterActivity" />
        <activity
            android:name=".NotesInfo"
            android:theme="@style/Theme.Notes" />
        <activity
            android:name=".jpbInfo"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".STInfo"
            android:theme="@style/Theme.ST" />
        <activity
            android:name=".EmuInfo"
            android:theme="@style/Theme.ApplicationGallery" />
        <activity
            android:name=".DeviceInfo"
            android:theme="@style/Theme.ApplicationGallery" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ApplicationGallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>